
<!--
<script type="text/javascript" src="vue.js"> </script>

    <div id="app">
        
        <input type="text" v-model="val">

    </div>
    
    <script type="text/javascript">
          

        new Vue({
            'el':'#app',
            'data': {
                val:"mmmmmmmm"
                }
        });
    </script>
-->

<!--
<script type="text/javascript" src="vue.js"> </script>

    <div id="app">
        
        <input type="text" v-model="val"> <br>
        {{val}}
    </div>
    
    <script type="text/javascript">
          

        new Vue({
            'el':'#app',
            'data': {
                val:""
                }
        });
    </script>
-->



<!-- <script type="text/javascript" src="vue.js"> </script>

    <div id="app">
        
        <input type="text" v-model.lazy="val"> <br>
        {{val}}
    </div>
    
    <script type="text/javascript">
          

        new Vue({
            'el':'#app',
            'data': {
                val:"default value"
                }
        });
    </script> -->




<!-- <script type="text/javascript" src="vue.js"> </script>

    <div id="app">
        
        <input type="text" v-model.lazy="val"> <br>
        <input type="text" v-model.number="num"> <br>


        {{val}}
    </div>
    
    <script type="text/javascript">
          

        new Vue({
            'el':'#app',
            'data': {
                val:"default value",
                num:"0",
                }
        });
    </script> -->


    <!-- <script type="text/javascript" src="vue.js"> </script>

    <div id="app">
        
        <input type="text" v-model.lazy="val"> <br>
        <input type="text" v-model="num"> <br>


        {{val}}
    </div>
    
    <script type="text/javascript">
          

        new Vue({
            'el':'#app',
            'data': {
                val:"default value",
                num:"0",
                }
        });
    </script> -->


    <!-- <script type="text/javascript" src="vue.js"> </script>

    <div id="app">
        
        <input type="text" v-model.lazy="val"> <br>
        <input type="text" v-model.number="num"> <br>
        <input type="text" v-model.trim="trimExmpel"> <br>


        {{val}}
    </div>
    
    <script type="text/javascript">
          

        new Vue({
            'el':'#app',
            'data': {
                val:"default value",
                num:"0",
                trimExmpel:''
                }
        });
    </script> -->

    <!-- <script type="text/javascript" src="vue.js"> </script>

    <div id="app">
        
        <input type="text" v-model.lazy="val"> <br>
        <input type="text" v-model.number="num"> <br>
        <input type="text" v-model.trim="trimExmpel"> <br>


        {{val}}
    </div>
    
    <script type="text/javascript">
          

        new Vue({
            'el':'#app',
            'data': {
                val:"default value",
                num:"0",
                trimExmpel:''
                }
        });
    </script> -->




<script type="text/javascript" src="vue.js"> </script>

    <div id="app">
        
        <input type="text" v-model.lazy="val"> <br>
        <input type="text" v-model.number="num"> <br>
        <input type="text" v-model.trim.lazy="trimExmpel"> <br>


        {{val}}
    </div>
    
    <script type="text/javascript">
          

        new Vue({
            'el':'#app',
            'data': {
                val:"",
                num:"",
                trimExmpel:""
                }
        });
    </script>