<!---
<script type="text/javascript" src="vue.js"> </script>

    <div id="app">
        <input type="text" v-model="name">
        <textarea v-model="name"></textarea>

        <br><br>

        <label for="one">radio one</label>
        <input type="radio" id="one" value="one" v-model="radioValue">

        <br>

        <label for="tow">radio tow</label>
        <input type="radio" id="tow" value="tow" v-model="radioValue">

        <br><br>

        <label for="radio_tow">second radio</label>
        <input type="radio" id="radio_tow"  value="tow" v-model="radioTow">

        <br><br>

        <label for="checkbox_one">Checkbox one</label>
        <input type="checkbox" id="checkbox_one"  v-model="checkbox_one">



        <br><br>

        <label for="checkbox_tow_one">Checkbox one</label>
        <input type="checkbox" id="checkbox_tow_one" value="one"  v-model="checkbox_tow">


        <br>

        <label for="checkbox_tow_tow">Checkbox one</label>
        <input type="checkbox" id="checkbox_tow_tow" value="tow"  v-model="checkbox_tow">

        <br><br>


        <label>Select</label>
        <select v-model="selectOne">
            <option value="one">one</option>

        </select>

    </div>
    
    <script type="text/javascript">
          

        new Vue({
            'el':'#app',
            'data': {
                    name:'test',
                    radioValue:"tow",
                    radioTow:"",
                    checkbox_one:false,          //false افتراضياً ستكون القيمة 
                    checkbox_tow:["one","tow"],     //وسيتم تحديد كلا الانبوتين valueبحط هان ال
                    selectOne:""        //عبارة عن متغير نصي

                }
        });
    </script>
-->


<!---
<script type="text/javascript" src="vue.js"> </script>

    <div id="app">
        <input type="text" v-model="name">
        <textarea v-model="name"></textarea>

        <br><br>

        <label for="one">radio one</label>
        <input type="radio" id="one" value="one" v-model="radioValue">

        <br>

        <label for="tow">radio tow</label>
        <input type="radio" id="tow" value="tow" v-model="radioValue">

        <br><br>

        <label for="radio_tow">second radio</label>
        <input type="radio" id="radio_tow"  value="tow" v-model="radioTow">

        <br><br>

        <label for="checkbox_one">Checkbox one</label>
        <input type="checkbox" id="checkbox_one"  v-model="checkbox_one">



        <br><br>

        <label for="checkbox_tow_one">Checkbox one</label>
        <input type="checkbox" id="checkbox_tow_one" value="one"  v-model="checkbox_tow">


        <br>

        <label for="checkbox_tow_tow">Checkbox one</label>
        <input type="checkbox" id="checkbox_tow_tow" value="tow"  v-model="checkbox_tow">

        <br><br>


        <label>Select</label>
        <select v-model="selectOne">
            <option value="one">one</option>
            <option value="tow">tow</option>

        </select>

    </div>
    
    <script type="text/javascript">
          

        new Vue({
            'el':'#app',
            'data': {
                    name:'test',
                    radioValue:"tow",
                    radioTow:"",
                    checkbox_one:false,          //false افتراضياً ستكون القيمة 
                    checkbox_tow:["one","tow"],     //وسيتم تحديد كلا الانبوتين valueبحط هان ال
                    selectOne:""        //عبارة عن متغير نصي

                }
        });
    </script>
-->


<!--
<script type="text/javascript" src="vue.js"> </script>

    <div id="app">
        <input type="text" v-model="name">
        <textarea v-model="name"></textarea>

        <br><br>

        <label for="one">radio one</label>
        <input type="radio" id="one" value="one" v-model="radioValue">

        <br>

        <label for="tow">radio tow</label>
        <input type="radio" id="tow" value="tow" v-model="radioValue">

        <br><br>

        <label for="radio_tow">second radio</label>
        <input type="radio" id="radio_tow"  value="tow" v-model="radioTow">

        <br><br>

        <label for="checkbox_one">Checkbox one</label>
        <input type="checkbox" id="checkbox_one"  v-model="checkbox_one">



        <br><br>

        <label for="checkbox_tow_one">Checkbox one</label>
        <input type="checkbox" id="checkbox_tow_one" value="one"  v-model="checkbox_tow">


        <br>

        <label for="checkbox_tow_tow">Checkbox one</label>
        <input type="checkbox" id="checkbox_tow_tow" value="tow"  v-model="checkbox_tow">

        <br><br>


        <label>Select</label>
        <select v-model="selectOne">
            <option value="one">One</option>
            <option value="tow">Tow</option>

        </select>

    </div>
    
    <script type="text/javascript">
          

        new Vue({
            'el':'#app',
            'data': {
                    name:'test',
                    radioValue:"tow",
                    radioTow:"",
                    checkbox_one:false,          //false افتراضياً ستكون القيمة 
                    checkbox_tow:["one","tow"],     //وسيتم تحديد كلا الانبوتين valueبحط هان ال
                    selectOne:"tow"        //وسيطبعلي اياهاvalueبحط قيمة ال

                }
        });
    </script>
-->




<script type="text/javascript" src="https://unpkg.com/vue"></script>

<div id="app">

	<label>Text</label><br>
	<input type="text" v-model="name" />

	<br ><br >

	<label>TextArea</label><br>
	<textarea v-model="name"></textarea>

	<br ><br >

	<label for="one">Radio One</label>
	<input type="radio" id="one" value="one" v-model="radioValue">
	
	<br>

	<label for="tow">Radio Tow</label>
	<input type="radio" id="tow" value="tow" v-model="radioValue">
	
	<br><br>

	<label for="radio_tow">Second Radio </label>
	<input type="radio" id="radio_tow" value="tow" v-model="radioTow">

	<br><br>

	<label for="checkbox_one">Checkbox one </label>
	<input type="checkbox" id="checkbox_one" v-model="checkbox_one">
	
	<br><br>

	<label for="checkbox_tow_one">checkbox_tow_one </label>
	<input type="checkbox" id="checkbox_tow_one" value="one" v-model="checkbox_tow">
	<br>
	<label for="checkbox_tow_tow">checkbox_tow_tow </label>
	<input type="checkbox" id="checkbox_tow_tow" value="tow" v-model="checkbox_tow">

	<br><br>

	<label>Select</label>
	<select v-model="selectOne">
		<option value="one">One</option>
		<option value="tow">Tow</option>
	</select>

	<br><br>

	<label>Multi Select</label>
	<select v-model="selectTow" multiple="">
		<option value="one">One</option>
		<option value="tow">Tow</option>
	</select>

	<br><br>

	<label>Select With dynamic options</label>
	<select v-model="selectThree">
		<option v-for="option in selectThreeOptions" :value="option.value">
			{{option.label}}
		</option>
	</select>

</div>

<script type="text/javascript">
	new Vue({
		'el':'#app',
		data: {
			name: "test",
			radioValue: "tow",
			radioTow: "",
			checkbox_one: false,
			checkbox_tow: ["one", "tow"],
			selectOne: "tow",
			selectTow: ["one", "tow"],
			selectThree: "",
			selectThreeOptions: [
				{'value': '1', 'label': 'First'},
				{'value': '2', 'label': 'Second'},
				{'value': '3', 'label': 'Third'},
			]
		}
	});
</script>
