



<!-- <script type="text/javascript" src="vue.js"> </script>

    <div id="app">
        <input v-model='x'>
        <div>{{x}}</div>
        
        

<script type="text/javascript">

    new Vue({
        'el':'#app',
        'data':{

            x:''
        }            
       
    });

</script> -->




<script type="text/javascript" src="vue.js"> </script>

    <div id="app">
        
        <input v-model="x">
        <div>{{x}}</div>
        <button @click="x ='x was Chang'">Chang</button>

<script type="text/javascript">

    new Vue({
        'el':'#app',
        'data':{
                x:''            
        }
       
    });

</script>
