

<!--
<script type="text/javascript" src="vue.js"> </script>

    <div id="app">
        <input type="text" v-model="name">
    </div>
    
    <script type="text/javascript">
          

        new Vue({
            'el':'#app',
            'data': {
                    name
                }
        });
    </script>
-->


<!-- <script type="text/javascript" src="vue.js"> </script>

    <div id="app">
        <input type="text" v-model="name">
    </div>
    
    <script type="text/javascript">
          

        new Vue({
            'el':'#app',
            'data': {
                    name:'test'
                }
        });
    </script> -->




<!--input text مثل ال textareaيتم التعامل مع-->

<script type="text/javascript" src="vue.js"> </script>

    <div id="app">
        <input type="text" v-model="name">
        <br>
        <textarea v-model="name"></textarea>
    </div>
    
    <script type="text/javascript">
          

        new Vue({
            'el':'#app',
            'data': {
                    name:'test'
                }
        });
    </script>

