<!-- <script type="text/javascript" src="vue.js"> </script>

    <div id="app">
        <label>Text</label> <br>
        <input type="text" v-model="name">

        <br><br>

        <label>Textarea</label> <br>
        <textarea v-model="name"></textarea>
    </div>
    
    <script type="text/javascript">
          

        new Vue({
            'el':'#app',
            'data': {
                    name:'test'
                }
        });
    </script> -->


    <!-- <script type="text/javascript" src="vue.js"> </script>

    <div id="app">
        <input type="text" v-model="name">
        <textarea v-model="name"></textarea>

        <br><br>

        <label>radio one</label>
        <input type="radio" value="one" v-model="radioValue">

        <br>

        <label>radio tow</label>
        <input type="radio" value="tow" v-model="radioValue">


    </div>
    
    <script type="text/javascript">
          

        new Vue({
            'el':'#app',
            'data': {
                    name:'test',
                    radioValue:"tow",
                }
        });
    </script> -->



<!-- <script type="text/javascript" src="vue.js"> </script>

    <div id="app">
        <input type="text" v-model="name">
        <textarea v-model="name"></textarea>

        <br><br>

        <label>radio one</label>
        <input type="radio" value="one" v-model="radioValue">

        <br>

        <label>radio tow</label>
        <input type="radio" value="tow" v-model="radioValue">

        <br><br>

        <label>second radio</label>
        <input type="radio" value="tow" v-model="radioTow">

    </div>
    
    <script type="text/javascript">
          

        new Vue({
            'el':'#app',
            'data': {
                    name:'test',
                    radioValue:"tow",
                    radioTow:"" 
                }
        });
    </script> -->


<!--input لتفعيل ال-->
<script type="text/javascript" src="vue.js"> </script>

    <div id="app">
        <input type="text" v-model="name">
        <textarea v-model="name"></textarea>

        <br><br>

        <label for="one">radio one</label>
        <input type="radio" id="one" value="one" v-model="radioValue">

        <br>

        <label for="tow">radio tow</label>
        <input type="radio" id="tow" value="tow" v-model="radioValue">

        <br><br>

        <label for="radio_tow">second radio</label>
        <input type="radio" id="radio_tow"  value="tow" v-model="radioTow">

    </div>
    
    <script type="text/javascript">
          

        new Vue({
            'el':'#app',
            'data': {
                    name:'test',
                    radioValue:"tow",
                    radioTow:""
                }
        });
    </script>